---
import Layout from "../layouts/Layout.astro";
import data from "../../public/data.json";
import "../../assets/scss/astro-ecommerce.scss";
import Navbar from "../components/navbar";
import CardProduct from "../components/products/cardProduct";
import ShoppingCartComponent from "../components/cart/shoppingCart";
import StoreDoubleColumn from "../components/store/storeDoubleColumn";

interface Product {
  id: string;
  thumb_src: string;
  thumb_alt: string;
  images: Array<{src: string; alt: string}>;
  color: string;
  colors: string[];
  title: string;
  price: number;
  description: string;
  size: string;
  sizes?: Array<{label: string; value: string}>;
  stock: boolean;
  subtotal: number;
  shipping: number;
  tax: number;
}

const cartItems = data.shoppingCart
  .map((id) => {
    const product = data.products.find((x) => x.id === id);
    return product ? {
      id: product.id,
      thumb_src: product.thumb_src,
      thumb_alt: product.thumb_alt,
      images: product.images || [],
      color: product.color,
      colors: product.colors,
      title: product.title,
      price: product.price,
      description: product.description,
      size: product.size || "",
      sizes: product.sizes
        ? Object.entries(product.sizes).map(([key, value]) => ({
            label: key,
            value: value.toString()
          }))
        : [],
      stock: product.stock,
      subtotal: product.price,
      shipping: 0,
      tax: 0
    } : null;
  })
  .filter(Boolean) as Product[];
---

<Layout title="Shopping Cart">
  <main>
    <Navbar />

    <ShoppingCartComponent products={cartItems} />

    <div class="container mt-5">
      <div class="row">
        <h5 class="mb-4">You may also like...</h5>
        {data.products.map((product) => (
          <div class="col-md-6 col-lg-3">
            <CardProduct
              thumb_src={product.thumb_src}
              thumb_alt={product.thumb_alt}
              color={product.color}
              title={product.title}
              price={product.price}
              position="left"
              description={product.description || ""}
              colors={[product.color]}
            />
          </div>
        ))}
      </div>
      <hr class="dark horizontal my-5" />
      <StoreDoubleColumn title="Store Information" />
    </div>
  </main>
</Layout>;
